.movies__item {
  height: 219px;
  width: 300px;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.movies__image {
  border-radius: 0px;
  width: 300px;
  height: 168px;
  object-fit: cover;
  overflow: hidden;
  margin-bottom: 8px;
  align-self: center;
}
.movies__content {
  padding: 0 6px 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 247px;
}
.movies__name {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  padding: 0;
  margin: 0;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.movies__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
  margin: 0;
  padding: 0;
}
.movies__save {
  background: url("../../images/save1d.svg") center no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  position: absolute;
  right: 6px;
  top: 178px;
  cursor: pointer;
}
.movies__save_active {
  background: url("../../images/save-active.svg") center no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  position: absolute;
  right: 6px;
  top: 178px;
  cursor: pointer;
}
.movies__delete {
  background: url("../../images/del.svg") center no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  position: absolute;
  right: 6px;
  top: 178px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .movies__item {
    width: 339px;
    height: 241px;
  }
  .movies__image {
    width: 339px;
    height: 190px;
  }
  .movies__content {
    width: 287px;
  }
  .movies__name {
    max-width: 240px;
  }
  .movies__save {
    top: 199px;
  }
  .movies__save_active {
    top: 199px;
  }
  .movies__delete {
    top: 199px;
  }
}

@media (min-width: 1280px) {
  .movies__item {
    width: 364px;
    height: 254px;
  }
  .movies__image {
    width: 364px;
    height: 203px;
  }
  .movies__content {
    width: 309px;
  }
  .movies__name {
    max-width: 262px;
  }
  .movies__save {
    top: 213px;
  }
  .movies__save_active {
    top: 213px;
  }
  .movies__delete {
    top: 213px;
  }
}

